body {
  background-color: #e6ecf1;
  padding: 2em 0;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;

  .App-Phone {
    width: 25em;
    margin: 0 auto;
    position: relative;
    height: 35em;
    background-color: #fff;
  }
}

